* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: orange;
    padding: 5%;
    margin-bottom: 1%;

}

#Buscar {
    width: 30%;
    margin-left: 1%;
    border-color: black;
}

#BuscarBtn {
    width: 2%;
    margin-right: 67%;
    border: none;
    background-color: white;
}